@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  position: relative;
  height: 100%;
  font-family: 'Inter', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
